In [80]:
import pandas as pd
import streamlit as sl
import seaborn as sns; sns.set()
from sklearn.

SyntaxError: invalid syntax (<ipython-input-80-fd1c73cda4e9>, line 4)

In [81]:
df = pd.read_csv("./labels.csv")

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [83]:
df.describe()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class
count,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000
mean,12681.192027,3.243473,0.280515,2.413711,0.549247,1.110277
std,7299.553863,0.883060,0.631851,1.399459,1.113299,0.462089
min,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
25%,6372.500000,3.000000,0.000000,2.000000,0.000000,1.000000
50%,12703.000000,3.000000,0.000000,3.000000,0.000000,1.000000
75%,18995.500000,3.000000,0.000000,3.000000,0.000000,1.000000
max,25296.000000,9.000000,7.000000,9.000000,9.000000,2.000000

In [84]:
df.sample(10)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
9023,9275,3,0,3,0,1,Ewww bitch #canunot #fuckoff
11167,11454,3,0,3,0,1,I'll beat some pussy up right about now
15637,16003,3,1,2,0,1,RT @ImToBlame: RT @latry: Hispanic women just ...
8154,8381,3,0,3,0,1,Bowling Green's campus looks old as fuck. Like...
21385,21847,6,1,5,0,1,That broad 7 days moe RT @OGFlash: What Earth ...
14047,14387,3,0,3,0,1,RT @6THGRADER: Mom brought me McDonald's for l...
68,68,3,0,3,0,1,"""@Almightywayne__: @JetsAndASwisher @Gook____ ..."
15046,15403,3,0,1,2,2,RT @DreCordero: Always interesting to see peop...
13550,13884,3,0,2,1,1,Oh shit its still light out.. I've been in thi...
1954,1994,3,0,3,0,1,"&#8220;@xoxo_hayleyy: ""@savageater: i think if..."

In [85]:
df = df.drop(columns=["Unnamed: 0"])

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   count               24783 non-null  int64
 1   hate_speech         24783 non-null  int64
 2   offensive_language  24783 non-null  int64
 3   neither             24783 non-null  int64
 4   class               24783 non-null  int64
 5   tweet               24783 non-null  object
dtypes: int64(5), object(1)
memory usage: 1.1+ MB

In [87]:
df["count"].unique()

array([3, 6, 9, 4, 7])

In [88]:
df["hate_speech"].unique()

array([0, 1, 2, 3, 4, 6, 5, 7])

In [89]:
df["offensive_language"].unique()

array([0, 3, 2, 6, 1, 7, 5, 4, 8, 9])

In [90]:
df["neither"].unique()

array([3, 0, 1, 2, 6, 4, 5, 9, 8, 7])

In [91]:
df["class"].unique()

array([2, 1, 0])

In [92]:
df = df.drop(columns=["tweet"])

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   count               24783 non-null  int64
 1   hate_speech         24783 non-null  int64
 2   offensive_language  24783 non-null  int64
 3   neither             24783 non-null  int64
 4   class               24783 non-null  int64
dtypes: int64(5)
memory usage: 968.2 KB

In [94]:
df.dropna()

       count  hate_speech  offensive_language  neither  class
0          3            0                   0        3      2
1          3            0                   3        0      1
2          3            0                   3        0      1
3          3            0                   2        1      1
4          6            0                   6        0      1
...      ...          ...                 ...      ...    ...
24778      3            0                   2        1      1
24779      3            0                   1        2      2
24780      3            0                   3        0      1
24781      6            0                   6        0      1
24782      3            0                   0        3      2

[24783 rows x 5 columns]

In [95]:
df.isna().sum()

count                 0
hate_speech           0
offensive_language    0
neither               0
class                 0
dtype: int64